/* every page */
*{
    box-sizing: border-box;
}
body{
    background-color: #D7D3C6;
    margin: 0;
}
header{
    background-color: #B2A696;
}
.site-nav{
    height:15vh;
    margin:0 10% 0 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.site-nav a{
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    height: 100%;
    color: #14183B;
    text-decoration: none;
    font-size: 3em;
}
.site-nav h1{
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    height: 100%;
    border-bottom: 5px solid #14183B;
}
.site-nav a:hover{
   border-bottom: 5px solid #14183B;
}
footer{
    background-color: #B2A696;
}
.footer-wrapper{
    margin:0 10% 0 10%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
 /* homepage */
.homepage-banner{
    background-image: url(images/banner-images/homepage-image.jpg);
    background-size: cover;
    background-position-y: center;
    height:60vh;
    display: flex;
}
.homepage-banner div{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: auto ;
    background-color: #C4C896;
    padding: 20px;
    max-width: 650px;
}
.homepage-banner div a{
    margin:auto;
}
.categories-homepage, .customer-experiences{
    margin:0 10%;
}
.categories-homepage{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.categories-homepage h2{
    width:100%;
}
.categories-homepage section a{
    display: flex;
    flex-flow:column-reverse nowrap;
}
.categories-homepage section:last-of-type
{
    width:100%;
}
.categories-homepage section{
    width:15%;
}
.categories-homepage section:last-of-type{
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-end;
    border-top: 5px solid #14183B;
    border-bottom: 5px solid #14183B;
}

/* product detail */
.product-detail-wrapper{
    display:flex;
    flex-flow:row-reverse nowrap;
    justify-content: flex-end;
}

.product-detail-written{
    display:flex;
    flex-flow:row wrap;
}
.product-detail-written h2{
    width:100%;
}
.product-detail-written div{
    width:50%;
}
.product-detail-written p{
    width:50%;
}
.product-detail-written h4, form h3{
    width:100%;
}

p,h2,h3 {
    padding-right: 10px;
    padding-left: 10px;
}